---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* thin black border */
.img-border {
  border: 3px solid #000;
}

/* centered caption under image */
.figure-caption {
  text-align: center;
  margin-top: 0.4rem;
  font-size: 0.9rem;
}
